output/
colored_points
best_output
vis_sample/
tokyo_xyz/
testmydata/
tokyo_case/
tokyo_xyz_res/
tokyo_wireframe/
tokyo_wireframe_res/
assign_target_building3d_train_1024/
assign_target_building3d_train_2048/
cluster_refine_res/
assign_target_building3d_train_tokyo/
cluster_refine_kmeans_res/
